.SignUp-container {
    width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.Signup-header {
    display: flex;
    text-align: center;
    margin-bottom: -14px;
    align-content: space-around;
    justify-content: space-around;
}
.Signup-header .h6 {
    display: inline-block;
      margin-bottom: 1.2 rem;
    align-content: space-around;
  

}
   